body,h1,h2,h3,h4,h5,h6,a,span,strong{
    font-family: 'Roboto', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    color: #6b6b84;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

a {
    text-decoration: none;
}
/* Heading-top */
.Heading-top {
    background-color: #05152f;
    padding: 10px 0;
}
.left-sidehead{
    display: flex;
}
.left-sidehead .message {
    margin-right: 20px;
}
.left-sidehead .message strong {
    color: #2554ff;
    font-size: 1.1rem;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.left-sidehead .message span {
    color: #fff;
    font-size: .9rem;
    font-weight: 400;
}
.call-icon strong {
    color: #2554ff;
    font-size: 1.1rem;
    position: relative;
    top: 3px;
}
.call-icon span {
    color: #fff;
    font-size: 1rem;
    margin-left: 5px;
}

.riht-side{
    text-align: right;
}
.riht-side strong {
    color: #2554ff;
    font-size: 1.1rem;
    margin-right: 4px;
    position: relative;
    top: 3px;
}
.riht-side span{
    color: #fff;
    font-size: .9rem;
}


/* header-menu */
header{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: #fff;
}
.navbar-brand-logo img {
    width: 100px;
}
.my-nav-bar{
    padding: 0;

}
.my-custom-css li a.active{
    color: #2554ff !important;
}
.my-custom-css li a span.active{
    color: #2554ff !important;
}
.my-custom-css li a {
    font-size: 1rem;
    font-weight: 500;
    transition: .4s;
    color: #000 !important;
    padding: 18px 14px !important;
}
.my-custom-css li a span {
    position: relative;
    top: 2px;
    margin-left: 1px;
    color: #000 !important;
    transition: .4s;
}
.my-custom-css li a:hover span{
    color: #2554ff !important;
}
.my-custom-css li:hover >a{
    color: #2554ff !important;
}
.search-or-bar .bar-menu{
    cursor: pointer;
    margin-right: 20px;
}
.search-or-bar .bar-menu span{
    display: block;
    width: 40px;
    height: 3px;
    background: #031521;
    transition: .5s;
    border-radius: 30px;
    margin-left: auto;
    margin-bottom: 5px;
}
.search-or-bar:hover .bar-menu span{
    background-color: #2554ff;
}
.search-or-bar span {
    font-size: 1.2rem;
    transition: .4s;
    cursor: pointer;
}
.search-or-bar span:hover{
    color: #2554ff;
}
/* drop down */
.my-custom-css li{
    position: relative;
}
.my-custom-css li ul {
    position: absolute;
    top: 130%;
    left: 14px;
    width: 230px;
    background-color: #fff;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    box-shadow: 0px 0px 11px 0px rgb(0 0 0 / 25%);
    z-index: 999;
}
.my-custom-css li:hover >ul{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.my-custom-css li ul li{
    display: block;
} 
.my-custom-css li ul li a {
    text-decoration: none;
    /* display: inline-block; */
    padding: 10px 20px!important;
    position: relative;
    display: block;
}
.my-custom-css li ul li a span {
    position: absolute;
    right: 0;
    width: 30px;
    top:10px;
}
.my-custom-css li ul li:hover a span {
    right: 2px;
}
.my-custom-css li ul li a:hover{
    letter-spacing: 1px;
}

/* sub account */

.my-custom-css li ul li:hover ul{
    top: 10px !important;
}
.my-custom-css li ul li ul {
    left: -230px;
    top: 100% !important;
}

/* curesole-img */
.banner-section{
    position: relative;
}
.curesole-img-1{
    background: url(./img/ia_100000073.jpg) center center no-repeat;
    background-size: cover;
    height: 150vh;
}
.curesole-img-2{
    background: url(./img/ia_100000074.jpg) center center no-repeat;
    background-size: cover;
    height: 150vh;
}
.curesole-img-3{
    background: url(./img/ia_100000072.jpg) center center no-repeat;
    background-size: cover;
    height: 150vh;
}
.carousel-item{
    position: relative;
    z-index: 1;
}
.carousel-item::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    opacity: .70;
    z-index: -1;
}
.curesole-img img{
    height: 100vh;
}

.carousel-control-prev-batton{
    border: none;
    background-color: transparent;
    height: 10px;
    margin: auto;
    width: 10%;
    opacity: 1;
}
.carousel-control-next-batton{
    border: none;
    background-color: transparent;
    height: 10px;
    margin: auto;
    width: 10%;
    opacity: 1;
}
.carousel-control-prev-batton span i{
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    color: #2554ff;
    line-height: 50px;
    transform: translateX(-30px);
    visibility: hidden;
    opacity: 0;
    transition: .9s;
}
.carousel-control-prev-batton span i:hover{
    background-color: #031521;
}

.carousel-control-next-batton span i{
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    color: #2554ff;
    line-height: 50px;
    transform: translateX(30px);
    visibility: hidden;
    opacity: 0;
    transition: .7s;
    
}
.carousel-control-next-batton span i:hover{
    background-color: #031521;
}

.prev-icon{
    font-size: 25px;
    font-weight: bold;
}
.banner-section:hover .carousel-control-next-batton span i{
    opacity: 1;
    visibility: visible;
    transform: translateX(10px);
    transition: .5s;
}
.banner-section:hover .carousel-control-prev-batton span i{
    opacity: 1;
    visibility: visible;
    transform: translateX(-10px);
    transition: .5s;
}
.carousel-caption{
    position: absolute;
    top: 22%;
    max-width: 760px;
    margin: 0 auto ;
    text-align: center;
}
.carousel-caption h5{
    color: #fff;
    font-size: 55px;
    color: #fff;
    margin-bottom: 18px;
}
.carousel-caption p{
    margin-bottom: 0;
    color: #fff;
}
.slider-btn{
    margin-top: 30px;
}
.carousel-caption a{
    color: #fff;
}
.defalt-btn{
    transition: 0.5s;
    border-radius: 5px;
    opacity: 1;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    text-align: center;
    background-color: #2554ff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    color: #fff;
}
.defalt-btn::after{
    content: "";
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #031521;
    position: absolute;
    z-index: -1;
    transition: .4s;
}
.defalt-btn:hover{
    color: #fff;
}
.defalt-btn:hover::after{
    width: 100%;
}
.my-carousel{
    position: relative;
}
.custom-shape-divider-bottom-1625579837 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 1;
}

.custom-shape-divider-bottom-1625579837 svg {
    position: relative;
    display: block;
    width: calc(121% + 1.3px);
    height: 160px;
}

.custom-shape-divider-bottom-1625579837 .shape-fill {
    fill: #FFFFFF;
}

/* cursole animate */
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUp {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
} 

/* item-section */
.top-services-item {
    background-color: #f6f2fe;
    padding: 35px 20px;
    margin-bottom: 30px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.top-services-item .icon {
    margin-bottom: 20px;
    position: relative;
}
.top-services-item .icon::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background-color: #0fe7f9;
    right: 0;
    left: 50px;
    top: 2px;
    text-align: center;
    margin: auto;
    border-radius: 50px;
}
.top-services-item .icon i {
    display: inline-block;
    height: 85px;
    width: 85px;
    line-height: 85px;
    text-align: center;
    font-size: 40px;
    color: #0fe7f9;
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px dashed #0fe7f9;
}
.top-services-item h3 {
    font-size: 1.37rem;
    margin-bottom: 12px;
    font-weight: 600;
}
.top-services-item h3 a{
    color: #031521;
    transition: .5s;
}
.top-services-item h3 a:hover{
    color: #2554ff;
}
.top-services-item h3:hover{
    
    color: #2554ff;
}

.top-services-item p {
    font-size: 15px;
}
.top-services-item:hover {
    background-color: #ffffff;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    transform: translateY(-5px);
}

.top-services-item.top1 {
    margin-top: 35px;
}
.top-services-item.top2 {
    margin-top: 35px;
}

.item-section{
    position: relative;
    z-index: 1;
    margin-top: -200px;
}

/* about section */
.about-section{
    background-color: #f9fbfc;
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-image {
    position: relative;
    padding-bottom: 50px;
}
.about-image img {
    padding: 10px;
    padding-left: 0;
    border-radius: 5px;
    border-top: 10px solid #0fe7f9;
    border-right: 10px solid #0fe7f9;
    border-bottom: 10px solid #0fe7f9;
}
.about-image img:nth-child(2) {
    position: absolute;
    right: -15px;
    bottom: 0;
    z-index: 1;
    border: none;
    border-radius: 15px;
    padding: 0;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.about-content {
    padding-left: 20px;
}
.about-content span {
    color: #2554ff;
}
.about-content h3 {
    font-size: 2.5rem;
    margin-top: 12px;
    margin-bottom: 16px;
    font-weight: 500;
}
.about-content p {
    margin-bottom: 8px;
}
.about-content .p-text {
    margin-bottom: 0;
}
.about-content .about-list {
    padding-left: 0;
    margin-top: 22px;
    margin-bottom: 28px;
}
.about-content .about-list li {
    list-style-type: none;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
    padding-left: 35px;
    transition: 0.5s;
    color: #02334f;
}
.about-content .about-list li:hover i {
    color: #2554ff;
}
.about-content .about-list li i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.37rem;
    transition: .5s;
    color: #02334f;
}

.about-shape {
    position: absolute;
    left: 0;
    top: 20%;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    z-index: -1;
}


/* our-service" */
.our-service{
    background-color: #efe9fb;
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 70px;
}
.section-title {
    text-align: center;
    margin-bottom: 45px;
}
.section-title span {
    color: #2554ff;
}
.section-title h2 {
    font-size: 2.5rem;
    margin-top: 12px;
    margin-bottom: 0;
    font-weight: 600;
}
.single-services {
    border-radius: 2px;
    margin-bottom: 30px;
    position: relative;
    padding: 30px 30px 30px 100px;
    border: 1px solid #fafafa;
    background-color: #fafafa;
    transition: .5s;
    z-index: 1;
}
.single-services:hover {
    border: 1px solid #2554ff;
}
.single-services::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background: #2554ff;
    border-radius: 0;
    transition: 0.5s;
}
.single-services:hover::before {
    width: 100%;
}
.single-services .icon {
    position: absolute;
    left: 20px;
    top: 32px;
    transition: .5s;
}
.single-services .icon i {
    display: inline-block;
    height: 65px;
    width: 65px;
    line-height: 65px;
    background-color: #efe9fb;
    color: #2554ff;
    font-size: 35px;
    border-radius: 50px;
    text-align: center;
    transition: .5s;
    font-weight: 500;
}
.single-services:hover .icon {
    transform: rotate(360deg);
}
.single-services h3 {
    font-size: 1.37rem;
    margin-bottom: 14px;
    transition: 0.5s;
    font-weight: 500;
}
.single-services h3 a{
    color: #031521;
    transition: .5s;
}
.single-services:hover h3 a{
    color: #fff;
}
.single-services p {
    margin-bottom: 15px;
    transition: 0.5s;
}
.single-services:hover p {
    color: #ffffff;
}
.single-services .read-more-btn {
    font-weight: 500;
    color: #031521;
    transition: 0.5s;
}
.single-services:hover .read-more-btn {
    color: #ffffff;
}

.services-shape .shape1 {
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: -1;
}
.services-shape .shape2 {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: -1;
}

/* our-project-section */
.our-project-section{
    padding: 100px 0;
    background-color: #fff;
    position: relative;
    
}

.projet-image{
    position: relative;
}
.projet-image a img{
    width: 100%;
}

.icon-project{
    position: absolute;
    right: 12px;
    bottom: -10px;
    z-index: 9;
}   
.icon-project a i{
    display: inline-block;
    height: 30px;
    width: 35px;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    font-size: 1.37rem;
    transition: .5s;
    line-height: 35px;
    background-color: #0fe7f9;
    
}
.icon-project a i:hover{
    background-color: #fff;
    color: #0fe7f9;
}
.project-content{
    background-color: #f6f6f6;
    padding: 25px;
    position: relative;
    z-index: 1;
}
.project-content::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #2554ff;
    transition: .5s;
}
.projects-item:hover .project-content::before{
    width: 100%;
}
.project-content h3{
    font-size: 1.4rem;
    margin-bottom: 10px;
    transition: .5s;
    font-weight: 500;
}
.project-content h3 a{
    color: #031521;
    transition: .5s;
}
.projects-item:hover .project-content h3 a{
    color: #fff;
}
.project-content span{
    font-size: .93rem;
    font-weight: 500;
    color: #012a68;
    transition: .5s;
}
.projects-item:hover .project-content span{
    color: #fff;
}


.carousel-control-prev-batton-suru {
    border: none;
    outline: 0;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 120px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.our-project-mul:hover .carousel-control-prev-batton-suru{
    visibility: visible;
    opacity: 1;
    left: -12px;
}
.carousel-control-prev-batton-suru:focus{
    outline: 0;
}
.carousel-control-prev-batton-suru span i{
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    color: #2554ff;
    line-height: 50px;
    transition: .5s;
}
.carousel-control-next-batton-suru{
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 120px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.our-project-mul:hover .carousel-control-next-batton-suru{
    visibility: visible;
    opacity: 1;
    right: -12px;
}
.carousel-control-next-batton-suru:focus{
    outline: 0;
}
.carousel-control-next-batton-suru span i{
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    color: #2554ff;
    line-height: 50px;
    transition: .5s;
}
.carousel-control-next-batton-suru span i:hover, .carousel-control-prev-batton-suru span i:hover{
    background-color: #031521;
}
.our-project-mul{
    position: relative;
}


/* chose section */
.choose-section{
    background: url(./img/ia_100000075.jpg) center center no-repeat;
    background-size: cover;

    padding: 100px 0;
}
.choose-content span {
    color: #2554ff;
}
.choose-content h3 {
    font-size: 2.1rem;
    margin-top: 12px;
    margin-bottom: 16px;
    font-weight: 600;
}
.choose-content strong {
    font-size: 1rem;
    font-weight: 500;
}
.choose-text {
    position: relative;
    padding-left: 55px;
    margin-top: 20px;
}
.choose-icon {
    position: absolute;
    left: 0;
    top: 0;
}
.choose-icon i {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 45px;
    border: 1px solid #0fe7f9;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    color: #0fe7f9;
    transition: .5s;
}
.choose-text h4 {
    font-size: 1.4rem;
    margin-bottom: 12px;
    font-weight: 500;
}
.choose-text:hover .choose-icon i{
    border: 1px solid #2554ff;
    color: #fff;
    background-color: #2554ff;
}

/* expert-scientist */
.expert-scientist{
    padding: 100px 0;
}
.expert-image{
    position: relative;
}
.expert-image img{
    border-radius: 50%;
    border: 5px solid #0fe7f9;
}
.expert-social{
    padding-left: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}
.expert-social li{
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}
.expert-social li a {
    display: block;
    text-align: center;
    position: relative;
    font-size: 1rem;
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 40px;
    background-color: #0fe7f9;
    border-radius: 30px;
    transition: .5s;
}
.expert-social li a:hover{
    background-color: #2554ff;
    color: #fff;
}
.expert-team:hover .expert-social li{
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}
.expert-social li:nth-child(1){
    transition-delay: .2s;
}
.expert-social li:nth-child(2){
    transition-delay: .3s;
}
.expert-social li:nth-child(3){
    transition-delay: .4s;
}
.expert-social li:nth-child(4){
    transition-delay: .5s;
}
.expert-text h4 {
    color: #031521;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 20px;
}
.expert-text span{
    font-size: 1rem;
    color: #2554ff;
    font-weight: 500;
}

/* appointment-form-section */
.appointment-form-section{
    background: url(./img/ia_100000076.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0,0,0,.8);
    padding: 100px 0;
}
.appointment-text h3 {
    font-size: 2.7rem;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.4;
}
.appointment-text p{
    color: #fff;
}
.progress-text-suru {
    position: relative;
    margin-top: 30px;
}
.progress-text-suru p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 12px;
}
.progress-text-suru span {
    color: #fff;
    left: 75%;
    position: absolute;
    font-size: 1;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 10px;
}
.main-progress .progress .my-css-progress{
    width: 78%;
    background-color: #2554ff;
    border-radius: 5px;
}
.progress{
    height: 8px;
    border-radius: 4px;
    background-color: #fff;
}
.main-progress .progress .my-css-progress-2{
    width: 58%;
    background-color: #2554ff;
    border-radius: 5px;

}
.progress-text-suru-2 span{
    left: 55%;
}
.main-progress .progress .my-css-progress-3{
    width: 88%;
    background-color: #2554ff;
    border-radius: 5px;

}
.progress-text-suru-3 span{
    left: 85%;
}

.apolo-form{
    background-color: #fff;
    padding: 50px 40px;
    border-radius: 5px;
    position: relative;
}

.from-head h3{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 50px;
}
.from-item .form-control{
    padding: 15px 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    margin-bottom: 15px;
}
.from-item{
    position: relative;
}
.from-item i {
    position: absolute;
    top: 17px;
    right: 24px;
    height: 27px;
    width: 26px;
    line-height: 1;
    font-size: 1.12rem;
    color: #04b8e5;
    background-color: #f6f6f6;
    pointer-events: none;
}
.from-item .form-select{
    padding: 15px 20px;
    background-color: #f6f6f6 !important;
    border-radius: 10px;
    border: none;
    box-shadow: none;
    background: url(none);
    color: #212529 !important;
    margin-bottom: 15px;
}
.from-item .form-select option span{
    border: none;
    color: #212529 !important;
}

/* auto-number-count-section */
.auto-number-count-section{
    padding: 100px 0;
}

.auto-count-suru{
    background-color: #0fe7f9;
    padding: 60px 100px;
    z-index: 1;
    border-radius: 30px;
    position: relative;
}
.auto-text h4{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}
.auto-text p {
    color: #000;
    font-weight: 500;
    font-size: 1.1rem;
}
.auto-side-img .side1{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.auto-side-img .side2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* testimonoal */
/* clint-say-section */
.clint-say-section{
    background: url(./img/ia_100000077.jpg) center center no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.clint-suru{
    background-color: #f6f5fd;
    padding: 30px 50px;
    max-width: 950px;
    margin: 25px auto;
}

.clint-info {
    margin-top: -55px;
    margin-bottom: 20px;
}
.clint-info img{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.clint-info h3 {
    font-size: 1.56rem;
    margin-bottom: 8px;
    font-weight: 500;
}
.clint-info span {
    color: #031521;
    font-weight: 500;
    font-size: 1.1rem;
}
.auto-p-lorem p{
    font-style: italic;
}
/* hover batton */
.clint-mul-div{
    position: relative;
}
.carousel-control-prev-batton-testimonial {
    border: none;
    outline: 0;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 133px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.carousel-control-prev-batton-testimonial:focus{
    outline: none;
}
.carousel-control-prev-batton-testimonial span i{
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    color: #2554ff;
    line-height: 50px;
    transition: .5s;
}
.carousel-control-next-batton-testimonial{
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 133px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.carousel-control-next-batton-testimonial span i{
    font-size: 25px;
    font-weight: bold;
    height: 45px;
    width: 45px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    color: #2554ff;
    line-height: 50px;
    transition: .5s;
}
.carousel-control-next-batton-testimonial:focus{
    outline: none;
}
.carousel-control-next-batton-testimonial span i:hover, .carousel-control-prev-batton-testimonial span i:hover {
    background-color: #031521;
}

.clint-mul-div:hover .carousel-control-next-batton-testimonial{
    right: 10px;
    visibility: visible;
    opacity: 1;
}
.clint-mul-div:hover .carousel-control-prev-batton-testimonial{
    left: 10px;
    visibility: visible;
    opacity: 1;
}


/* news-letter-section */
.news-letter-section{
    padding: 100px 0;
    background-color: #fff;
}
.news-image{
    position: relative;
}
.news-date{
    position: absolute;
    top: 0;
    left: 0;
}
.news-date span{
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    color: #2554ff;
    font-weight: 500;
    transition: .5s;
}

.news-text-nise{
    padding: 25px 20px;
    background-color: #fff;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}
.news-text-nise h3{
    font-size: 1.56rem;
    line-height: 1.5;
    margin-bottom: 14px;
}
.news-text-nise h3 a{
    color: #031521;
}
.news-text-nise a{
    font-weight: 600;
    color: #2554ff;
}
.news-item-suru:hover .news-date span{
    color: #fff;
    background-color: #2554ff;

}

/* slide item */
.slide-suru-section{
    padding: 100px 0;
    background-color: #fafaff;
}
.slide-item-suru a img{
    width: auto !important;
    margin: auto;
    display: block;
}

.footer-suru{
    background: url(./img/ia_100000078.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 70px;
    position: relative;
}
.footer-item-suru p{
    color: #031521;
    margin-bottom: 0;
}
.footer-logo{
    margin-bottom: 25px;
}
.footer-logo a img {
    width: 100px;
}

.footer-social{
    padding-left: 0;
    margin-top: 20px;
}
.footer-social li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}
.footer-social li a{
    display: block;
    width: 35px;
    height: 35px;
    line-height: 38px;
    border-radius: 50%;
    color: #fff;
    background-color: #2554ff;
    border: 1px solid ;
    text-align: center;
    font-size: .9rem;
    transition: .5s;
}
.footer-social li .facebook{
    background-color: #3b5998;
    border-color: #3b5998;
    color: #fff;
}
.footer-social li .twitter{
    background-color: #1da1f2 ;
    border-color: #1da1f2 ;
    color: #fff;
}
.footer-social li .pinterest{
    background-color: #c13584;
    border-color: #c13584;
    color: #fff;
}
.footer-social li .linkedin{
    background-color: #007bb5;
    border-color: #007bb5;
    color: #fff;
}
.footer-social li .facebook:hover{
    color: #3b5998;
    background-color: transparent;
}
.footer-social li .twitter:hover{
    color: #1da1f2;
    background-color: transparent
}
.footer-social li .pinterest:hover{
    color: #c13584;
    background-color: transparent;
}
.footer-social li .linkedin:hover{
    color: #007bb5;
    background-color: transparent;
}

.footer-list-ul{
    padding-left: 0;
}
.footer-list-ul li{
    list-style: none;
    margin-bottom: 12px;
}
.footer-list-ul li i{
    
    font-size: .7rem;
    color: #031521;
}
.footer-list-ul li a{
    font-size: .94rem;
    display: inline-block;
    color: #031521;
    font-weight: 500;
    transition: .5s;
    position: relative;
}
.footer-list-ul li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: #2554ff;
}
.footer-list-ul li a:hover{
    color: #2554ff;
}
.footer-list-ul li a:hover::before{
    width: 100%;
}
.footer-item-suru h3 {
    font-size: 1.5rem;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
    font-weight: 600;
}
.footer-item-suru h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #031521;
}

.footer-contact{
    padding-left: 0;
}
.footer-contact li{
    list-style: none;
    margin-bottom: 20px;
    padding-left: 35px;
    position: relative;
}
.footer-contact li span{
    margin-bottom: 5px;
    display: block;
    font-weight: 600;
    font-size: 1.1rem;
}
.footer-contact li i{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1.6rem;
    color: #031521;
}
.footer-contact li a{
    font-size: .94rem;
    display: inline-block;
    color: #031521;
    font-weight: 400;
    transition: .5s;
    position: relative;
}
.footer-contact li a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: .5s;
    background-color: #2554ff;
    display: inline-block;
}
.footer-contact li a:hover{
    color: #2554ff;
}
.footer-contact li a:hover::before{
    width: 100%;
}

/* foter bottom */
.fotter-bottom{
    padding: 20px 0;
    background-color: #012b6b;
}
.footer-bottom-text p{
    margin-bottom: 0;
    color: #fff;
}
.footer-bottom-text p a{
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    transition: .5s;
}
.footer-bottom-text p a:hover{
    color: #2554ff;
}
#myBtn {
    position: fixed;
    cursor: pointer;
    /* bottom: -44px; */
    /* right: 24px; */
    bottom: 23px;
    right: 24px;
    color: #ffffff;
    background-color: #031521;
    width: 45px;
    text-align: center;
    height: 45px;
    line-height: 52px;
    border-radius: 50%;
    font-size: 1.4rem;
    z-index: 55;
}